  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #FFFFFF;
    /* opacity: 40%; */
    border-radius: 15px;
    border: 2px solid green;
  }


.fullclick li {
    position:static;
    list-style: none;
    position: relative;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); this adds the "card" effect */
    padding: 0px;
    padding-left: 0px;
    text-align: center;
    background-color: #f2faf4;
    margin: 1vw;
    width:30%;
  }
  
  /* .fullclick a.main {
    color: #85baff;
    text-align: right;
    display: block;
    z-index: 1;
  } */
  
  .fullclick li a.main::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
  }


  .fullclick li a:hover{
    opacity:40%;
  }

  #rounded_corners {
    border-radius: 25px;
    border: 2px solid green;
  }


  /* ARTICLE TEXT STYLES */

  .article_text {
    margin-left:20%;
    margin-right:20%;
    font-size:large;
    line-height: 1.6;
  }

    /* ARTICLE SPECIFIC STYLES */

  .card_img {
    object-fit:fill;
    overflow: hidden;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .figure_text {
    margin-left:20%;
    margin-right:20%;
    font-size:large;
    line-height: 1.6;
    font-style:italic;
    text-align:center;
  }

  .article_header {
    color:black;
    margin-left:20%;
    margin-right:20%;
  }

  .article_h3{
    color:grey;
    margin-left:20%;
    margin-right:20%;
  }

  .image {
    width: 50%;
    height: auto;
    background-size: cover;
  }

  a {
    color:orangered;
    text-decoration: underline;
  }

  ::selection {
    background: orangered; /* WebKit/Blink Browsers */
    color: white;
  }
  ::-moz-selection {
    background: orangered;
    color: white; /*  */
  }

  @media only screen and (max-width: 600px) {
    .image {
      width:100%;
    }

    .article_h3{
      color:grey;
      margin-left:5%;
      margin-right:5%;
      overflow:hidden;
    }

    .article_header {
      color:black;
      margin-left:5%;
      margin-right:5%;
      overflow:hidden;
    }

    .article_text {
      margin-left:10%;
      margin-right:10%;
      font-size:large;
      line-height: 1.6;
      overflow:hidden;
    }
  }

  .foot {
    text-align: center;
    padding: 3px;
    background-color: lightgray;
    color:black;
    width:100vw;
    margin:0;
    border-top: 2px solid black;
    bottom: 0px;
    margin-top:10%;
  }
